body{
    text-align: center;
}
.anabaslik{
    color: rgb(214, 69, 69);
}
.navbar li{
    list-style: none;
    float: left;
    width: 150px;
    position: relative;
    left: 30%;
}
.anasayfabaslik{
    color:purple
}
.aletlerbaslik{
    color:darkolivegreen ;
}

